{
  "externalJobId": "{{ variables.externalJobId }}",
  "externalJobStatus": "{{ variables.externalJobStatus }}",
  "externalJobResult": "{{ variables.externalJobResult }}",
  "JobId": "{{ variables.JobId }}"
}
