{# embed_post_request.jinja #}
[
  ("model_name", (None, "{{ model_name|default('Marengo-retrieval-2.7') }}")),
  {% if variables.image_url is defined %}
  ("image_url",  (None, "{{ variables.image_url }}"))
  {% elif variables.audio_url is defined %}
  ("audio_url",  (None, "{{ variables.audio_url }}"))
  {% elif variables.text is defined %}
  ("text",       (None, "{{ variables.text }}"))
  {% endif %}
]
