{
  "externalTaskId": {{ variables.task_id|jsonify }},
  "externalTaskStatus": {{ variables.task_status|jsonify }},
  "externalJobId": {{ variables.externalJobId|jsonify }},
  "externalJobStatus": {{ variables.externalJobStatus|jsonify }},
  "externalJobResult": {{ variables.externalJobResult|jsonify }}
}
