{
    "externalTaskId": {{variables.task_id|jsonify}},
    "externalJobId": {{variables.externalJobId|jsonify}},
    "externalJobStatus": {{variables.externalJobStatus|jsonify}},
    "externalJobResult": {{variables.externalJobResult|jsonify}}
}
