[
    ("model_name", (None, "{{ model_name|default('Marengo-retrieval-2.7') }}")),
    {% if variables.video_url is defined and variables.video_url %}
    ("video_embedding_scope", (None, "clip")),
    ("video_embedding_scope", (None, "video")),
    ("video_url", (None, "{{ variables.video_url }}"))
    {% elif variables.image_url is defined and variables.image_url %}
    ("image_url", (None, "{{ variables.image_url }}"))
    {% elif variables.audio_url is defined and variables.audio_url %}
    ("audio_url", (None, "{{ variables.audio_url }}"))
    {% endif %}
]
