{
  "TranscriptionJobName": "{{ variables.job_name }}",
  "Media": {
    "MediaFileUri": "s3://{{ variables.s3_bucket }}/{{ variables.s3_key }}"
  },
  "MediaFormat": "{{ variables.media_format }}",
  "IdentifyLanguage": true,
  "OutputBucketName": "{{ variables.output_bucket }}",
  "OutputKey": "{{ variables.s3_path }}/{{ variables.base_name }}_transcription.json",
  "JobExecutionSettings": {
    "AllowDeferredExecution": true,
    "DataAccessRoleArn": "{{ variables.transcribe_role_arn }}"
  }
}
